<h2>Merchants</h2>

<%= form_tag admin_merchants_search_path, method: :post do %>
  <%= search_field_tag :search, nil, placeholder: 'Search by merchant name' %>
  <%= submit_tag 'Search for Merchants', data: { disable_with: "Please enter keyword" } %>
<% end %>



<div id="search-results">

</div>

<h3>Top 10 Merchants by Most Revenue</h3>
<ul id="top-merchants-revenue">
</ul>

<h3>Top 10 Merchants by Most Items Sold</h3>
<ul id="top-merchants-items">
</ul>

<h3>Revenue for the past 7 days:</h3>
<div id="recent-revenue">
</div>

<ul id="merchants">
</ul>

<script>
  loadMerchantsWithMostRevenue($('#top-merchants-revenue'))
  loadMerchantsWithMostItemsSold($('#top-merchants-items'))
  loadRevenueForPastWeek($('#recent-revenue'))
</script>
